## Spark setup 🌠

we will import the required libraries and setup the configs required to start the spark session

In [1]:
# NOTE: this scirpt is a driver program which creates the SparkContext 
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

print(pyspark.__version__)
print(pyspark.__file__)

import pandas as pd
from pyspark.sql.functions import col, round, format_number, initcap
from pyspark.sql import types

3.3.3
/home/shaikh/spark/spark-3.3.3-bin-hadoop3/python/pyspark/__init__.py

In [4]:
credentials_location = "/home/shaikh/.google/credentials/ttc-data-analytics-key.json"

# Configure SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('spark_etl') \
    .config("spark.jars", "./lib/gcs-connector-hadoop3-2.2.11.jar, ./lib/spark-bigquery-with-dependencies_2.12-0.24.0.jar") \
    .config("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .config("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location) \
    .getOrCreate()

# Configure Hadoop Configuration
hadoop_conf = spark.sparkContext._jsc.hadoopConfiguration()
hadoop_conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

spark
# we stored the connector files in the lib/ dir :
# !ls lib

## Understanding source data columns 📅


> Subway

|Field Name|Description|Example|
|---|---|---|
|Date|Date (YYYY/MM/DD)|12/31/2016|
|Time|Time (24h clock)|1:59|
|Day|Name of the day of the week|Saturday|
|Station|TTC subway station name|Rosedale Station|
|Code|TTC delay code|MUIS|
|Min Delay|Delay (in minutes) to subway service|5|
|Min Gap|Time length (in minutes) between trains|9|
|Bound|Direction of train dependant on the line|N|
|Line|TTC subway line i.e. YU, BD, SHP, and SRT|YU|
|Vehicle|TTC train number|5961|

we have a **delay code** lookup file  

we also have **line code** lookup values : Line 1 Yonge-University (YU), Line 2 Bloor-Danforth (BD), Line 3 Scarborough (SRT), Line 4 Sheppard (SHP)

> Bus

|Field Name|Description|Example|
|---|---|---|
|Report Date|The date (YYYY/MM/DD) when the delay-causing incident occurred|6/20/2017|
|Route|The number of the bus route|51|
|Time|Time (24h clock) when the delay-causing incident occurred|12:35:00 AM|
|Day|The name of the day|Monday|
|Location|The location of the delay-causing incident|York Mills Station|
|Incident|The description of the delay-causing incident|Mechanical|
|Min Delay|The delay, in minutes, to the schedule for the following bus|10|
|Min Gap|The total scheduled time, in minutes, from the bus ahead of the following bus|20|
|Direction|The direction of the bus route where B,b or BW indicates both ways. <br>(On an east west route, it includes both east and west)<br>NB - northbound, SB - southbound, EB - eastbound, WB - westbound|N||
|Vehicle|Vehicle number|1057|

> Streetcar

|Field Name|Description|Example|
|---|---|---|
|Report Date|The date (YYYY/MM/DD) when the delay-causing incident occurred|6/20/2017|
|Route|The number of the streetcar route|51|
|Time|Time (24h clock) when the delay-causing incident occurred|12:35:00 AM|
|Day|The name of the day|Monday|
|Location|The location of the delay-causing incident|York Mills Station|
|Incident|The description of the delay-causing incident|Mechanical|
|Min Delay|The delay, in minutes, to the schedule for the following streetcar|10|
|Min Gap|The total scheduled time, in minutes, from the streetcar ahead of the following streetcar|20|
|Direction|The direction of the bus route where B,b or BW indicates both ways.<br>(On an east west route, it includes both east and west)<br>NB - northbound, SB - southbound, EB - eastbound, WB - westbound<br>The direction is not case sensitive|N|
|Vehicle|Vehicle number|1057|

## Extracting data from gcs 📤

This will be the first part of the ETL process - The **Extraction** (Reading) process

to read data from gcs, we follow these steps : [read data from gcs using spark (from boslai's notes)](https://github.com/boisalai/de-zoomcamp-2023/blob/main/week5.md#setup-to-read-from-gcs)

In [5]:
df_bus = spark.read.parquet('gs://ttc_data_lake_ttc-data-analytics/bus_delay_data/*')
df_subway = spark.read.parquet('gs://ttc_data_lake_ttc-data-analytics/subway_delay_data/*')
df_streetcar = spark.read.parquet('gs://ttc_data_lake_ttc-data-analytics/streetcar_delay_data/*')

print("Bus DataFrame Schema:")
df_bus.printSchema()

print("\nStreetcar DataFrame Schema:")
df_streetcar.printSchema()

print("\nSubway DataFrame Schema:")
df_subway.printSchema()

Bus DataFrame Schema:
root
 |-- Date: timestamp (nullable = true)
 |-- Route: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Incident: string (nullable = true)
 |-- Min Delay: long (nullable = true)
 |-- Min Gap: long (nullable = true)
 |-- Direction: string (nullable = true)
 |-- Vehicle: long (nullable = true)
 |-- __index_level_0__: long (nullable = true)


Streetcar DataFrame Schema:
root
 |-- Date: timestamp (nullable = true)
 |-- Line: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Incident: string (nullable = true)
 |-- Min Delay: long (nullable = true)
 |-- Min Gap: long (nullable = true)
 |-- Bound: string (nullable = true)
 |-- Vehicle: long (nullable = true)
 |-- __index_level_0__: long (nullable = true)


Subway DataFrame Schema:
root
 |-- Date: timestamp (nullable = true)
 |-- Time: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Station: string (nullable = true)
 |-- Code: string (nullable = true)
 |-- Min Delay: long (nullable = true)
 |-- Min Gap: long (nullable = true)
 |-- Bound: string (nullable = true)
 |-- Line: string (nullable = true)
 |-- Vehicle: long (nullable = true)

## Transformations 🎇

This is the 2nd step of the ETL process, the **Transformation** process. Now we will modify the extracted data so as to make it fit for being used as a table which will later be used to create dashboards.

**1. Extra unwanted column**

we have an extra column named `index_level_0` in your DataFrame that you didn't have in the original source `.xlsx` file.  
This could be due to the index column being converted to a regular column during processing.  

In pandas, an index is a special column that serves as a unique identifier for each row in a DataFrame or Series.
By default, when you create a DataFrame in pandas, it automatically assigns a numeric index to each row, starting from 0 and incrementing by 1.

we will remove this using `df_bus = df_bus.drop("__index_level_0__")`

---
**2. converting `long` types to `int` as it occupies less memory**  

we will use the `.cast("int"))` method

---

**3. Transforming column values to lower case**

The columns `Station` and `Location` have all values in Caps, so we have to change it  

we also want to capitalize the first letter of each word in a column while converting the rest of the letters to lowercase, so we can use the `initcap()` method from `pyspark.sql.functions`. using ref : https://stackoverflow.com/a/68370448/19268172

In [6]:
# 1. dropping the index column
df_bus = df_bus.drop("__index_level_0__")
df_streetcar = df_streetcar.drop("__index_level_0__")

# 2. Convert common Long Type columns to Integer Type
for col_name in ["Min Delay", "Min Gap", "Vehicle"]:
    df_bus = df_bus.withColumn(col_name, col(col_name).cast("int"))
    df_subway = df_subway.withColumn(col_name, col(col_name).cast("int"))
    df_streetcar = df_streetcar.withColumn(col_name, col(col_name).cast("int"))
    # ↪ `col(col_name).cast("int")` will be the new value for `col_name`

# convert un-common Long Type columns to Integer Type
df_streetcar = df_streetcar.withColumn("Line", col("Line").cast("int"))
df_bus = df_bus.withColumn("Route", col("Route").cast("int"))

# 3. Capitalize the first letter of each word in the "Location" column
df_bus = df_bus.withColumn("Location", initcap("Location"))
df_streetcar = df_streetcar.withColumn("Location", initcap("Location"))
df_subway = df_subway.withColumn("Station", initcap("Station"))

# check the results
print("Bus DataFrame Schema:")
df_bus.printSchema()

df_bus.show(5)

Bus DataFrame Schema:
root
 |-- Date: timestamp (nullable = true)
 |-- Route: integer (nullable = true)
 |-- Time: string (nullable = true)
 |-- Day: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Incident: string (nullable = true)
 |-- Min Delay: integer (nullable = true)
 |-- Min Gap: integer (nullable = true)
 |-- Direction: string (nullable = true)
 |-- Vehicle: integer (nullable = true)

+-------------------+-----+-----+--------+--------------------+--------------------+---------+-------+---------+-------+
|               Date|Route| Time|     Day|            Location|            Incident|Min Delay|Min Gap|Direction|Vehicle|
+-------------------+-----+-----+--------+--------------------+--------------------+---------+-------+---------+-------+
|2022-01-01 00:00:00|  320|02:00|Saturday|    Yonge And Dundas|       General Delay|        0|      0|     null|   8531|
|2022-01-01 00:00:00|  325|02:00|Saturday|Overlea And Thorc...|           Diversion|      131|    161|        W|   8658|
|2022-01-01 00:00:00|  320|02:00|Saturday|   Yonge And Steeles|Operations - Oper...|       17|     20|        S|      0|
|2022-01-01 00:00:00|  320|02:07|Saturday|   Yonge And Steeles|Operations - Oper...|        4|     11|        S|      0|
|2022-01-01 00:00:00|  320|02:13|Saturday|   Yonge And Steeles|Operations - Oper...|        4|      8|        S|      0|
+-------------------+-----+-----+--------+--------------------+--------------------+---------+-------+---------+-------+
only showing top 5 rows

## Continuing Transformations 🛠️

3. we use `F.to_date()` built-in Spark function that converts a timestamp to date format (year, month and day only, no hour and minute). on `Date` column
---
4. we need to rename some columns before merging (union) so that we can distinguish between the types
---
5. We need to deal with column having `null` values
---
6. we need to create a union the 3 dfs to create one single df (ie. a table in BQ)

In [50]:
from pyspark.sql import functions as F

# 3. modifying the DataFrame inside the loop won't affect the original DataFrames unless we reassign them.
dataframes = [df_bus, df_streetcar, df_subway]

for i in range(len(dataframes)):
    dataframes[i] = dataframes[i].withColumn('Date', F.to_date(dataframes[i].Date))

# Re-assign the modified DataFrames to their original variable names
df_bus, df_streetcar, df_subway = dataframes


# 4. Rename some columns
df_bus = df_bus \
    .withColumnRenamed('Route', 'Bus Route') \
    .withColumnRenamed('Vehicle', 'Bus Number')

df_streetcar = df_streetcar \
    .withColumnRenamed('Line', 'Str-car Route') \
    .withColumnRenamed('Vehicle', 'Str-car Number')


# check if the columns contain the same values

# Find difference in values in df_bus.Incident & df_streetcar.Incident
count1 = df_bus.select("Incident") \
    .exceptAll(df_streetcar.select("Incident")) \
    .distinct().count()

count2 = df_streetcar.select("Incident") \
    .exceptAll(df_bus.select("Incident")) \
    .distinct().count()

print("Incident un-common values : ",count1+count2)

print("Incident common values : ",df_bus.select("Incident") \
    .intersect(df_streetcar.select("Incident")) \
    .count())

# Find difference in values in df_bus.Location & df_streetcar.Location
count1 = df_bus.select("Location") \
    .exceptAll(df_streetcar.select("Location")) \
    .distinct().count()

count2 = df_streetcar.select("Location") \
    .exceptAll(df_bus.select("Location")) \
    .distinct().count()

print("\nLocation un-common values : ",count1+count2)

print("Location common values : ",df_bus.select("Location") \
    .intersect(df_streetcar.select("Location")) \
    .count())

# check the results
print("\nBus DataFrame :")
df_bus.show(5)

print("\nStreetcar DataFrame :")
df_streetcar.show(5)

print("\nSubway DataFrame :")
df_subway.show(5)

Incident un-common values :  19
Incident common values :  11

Location un-common values :  14934
Location common values :  625

Bus DataFrame :
+----------+---------+-----+--------+--------------------+--------------------+---------+-------+---------+----------+
|      Date|Bus Route| Time|     Day|            Location|            Incident|Min Delay|Min Gap|Direction|Bus Number|
+----------+---------+-----+--------+--------------------+--------------------+---------+-------+---------+----------+
|2022-01-01|      320|02:00|Saturday|    Yonge And Dundas|       General Delay|        0|      0|     null|      8531|
|2022-01-01|      325|02:00|Saturday|Overlea And Thorc...|           Diversion|      131|    161|        W|      8658|
|2022-01-01|      320|02:00|Saturday|   Yonge And Steeles|Operations - Oper...|       17|     20|        S|         0|
|2022-01-01|      320|02:07|Saturday|   Yonge And Steeles|Operations - Oper...|        4|     11|        S|         0|
|2022-01-01|      320|02:13|Saturday|   Yonge And Steeles|Operations - Oper...|        4|      8|        S|         0|
+----------+---------+-----+--------+--------------------+--------------------+---------+-------+---------+----------+
only showing top 5 rows


Streetcar DataFrame :
+----------+-------------+-----+--------+-------------------+--------------------+---------+-------+-----+--------------+
|      Date|Str-car Route| Time|     Day|           Location|            Incident|Min Delay|Min Gap|Bound|Str-car Number|
+----------+-------------+-----+--------+-------------------+--------------------+---------+-------+-----+--------------+
|2022-01-01|          504|02:21|Saturday|  Broadview Station|Collision - TTC I...|       30|     60|    E|          8333|
|2022-01-01|          501|03:22|Saturday|  718 Queen St East|          Operations|       16|     35|    W|          8068|
|2022-01-01|          504|03:28|Saturday|  Broadview Station|          Operations|       18|     36|    S|             0|
|2022-01-01|          510|03:34|Saturday|      Union Station|          Operations|       30|     60| null|          4406|
|2022-01-01|          301|03:39|Saturday|Lakeshore And Tenth|            Security|        5|     25|    W|          8622|
+----------+-------------+-----+--------+-------------------+--------------------+---------+-------+-----+--------------+
only showing top 5 rows


Subway DataFrame :
+----------+-----+--------+--------------------+-----+---------+-------+-----+----+-------+
|      Date| Time|     Day|             Station| Code|Min Delay|Min Gap|Bound|Line|Vehicle|
+----------+-----+--------+--------------------+-----+---------+-------+-----+----+-------+
|2022-01-01|15:59|Saturday|Lawrence East Sta...| SRDP|        0|      0|    N| SRT|   3023|
|2022-01-01|02:23|Saturday|  Spadina Bd Station| MUIS|        0|      0| null|  BD|      0|
|2022-01-01|22:00|Saturday|Kennedy Srt Stati...|  MRO|        0|      0| null| SRT|      0|
|2022-01-01|02:28|Saturday|  Vaughan Mc Station| MUIS|        0|      0| null|  YU|      0|
|2022-01-01|02:34|Saturday|    Eglinton Station|MUATC|        0|      0|    S|  YU|   5981|
+----------+-----+--------+--------------------+-----+---------+-------+-----+----+-------+
only showing top 5 rows

## Loading data into Big Query 📥

Finally, we push our results to Big Query completing the **Loading** part of the ETL process

This requires setting up a temp bucket and We also need to specify the connector jar

use `--jars=gs://spark-lib/bigquery/spark-bigquery-latest_2.12.jar` when submitting a job using the terminal  

use `.config("spark.jars", "./lib/gcs-connector-hadoop3-2.2.11.jar, ./lib/spark-bigquery-with-dependencies_2.12-0.24.0.jar")` within the `spark = SparkSession.builder` when running in a notebook

In [35]:
# Use the Cloud Storage bucket for temporary BigQuery export data used by the connector.
temp_bucket = "spark_temp_ttc"
spark.conf.set('temporaryGcsBucket', temp_bucket)

# Saving the data to BigQuery
df_bus.write.format('bigquery') \
    .option('table', 'ttc_delays_data.ttc_delays_table') \
    .save()